influx:
  token:
  org:
  bucket:
  url:
redis:
  addr: 127.0.0.1:6379
  password:
jaeger:
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1
nats:
  url: nats://127.0.0.1:4222
mysql:
  dsn: root:123456@tcp(127.0.0.1:3306)/test?parseTime=True&charset=utf8mb4&loc=Local

rollbar:
  token:
  environment: # production development
newrelic:
  name:
  license:

svc_addr:
  id: 127.0.0.1:6012
  chatbot: 127.0.0.1:6000
  message: 127.0.0.1:6001
  middle: 127.0.0.1:6002
  workflow: 127.0.0.1:6003
  user: 127.0.0.1:6004
  todo: 127.0.0.1:6006
  finance: 127.0.0.1:6007
  nlp: 127.0.0.1:6008
  storage: 127.0.0.1:609
  task: 127.0.0.1:6010
  org: 127.0.0.1:6011
web:
  url: http://127.0.0.1:7000
gateway:
  url: http://127.0.0.1:5000

storage:
  adapter: dropbox
jwt:
  secret:

android:
  enabled: true
  apikey: "YOUR_API_KEY"
  max_retry: 0 # resend fail notification, default value zero is disabled

huawei:
  enabled: false
  appsecret: "YOUR_APP_SECRET"
  appid: "YOUR_APP_ID"
  max_retry: 0 # resend fail notification, default value zero is disabled

ios:
  enabled: false
  key_path: "key.pem"
  key_base64: "" # load iOS key from base64 input
  key_type: "pem" # could be pem, p12 or p8 type
  password: "" # certificate password, default as empty string.
  production: false
  max_concurrent_pushes: 100 # just for push ios notification
  max_retry: 0 # resend fail notification, default value zero is disabled
  key_id: "" # KeyID from developer account (Certificates, Identifiers & Profiles -> Keys)
  team_id: "" # TeamID from developer account (View Account -> Membership)