influx:
  token:
  org:
  bucket:
  url:
rqlite:
  url: http://127.0.0.1:4001
redis:
  addr: 127.0.0.1:6379
  password:
jaeger:
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1
nats:
  url: nats://127.0.0.1:4222

slack:
  verification:
  signing:
  token:
  webhook:
    - name:
      url:
rollbar:
  token:
  environment: # production development
newrelic:
  name:
  license:

svc_addr:
  chatbot: 127.0.0.1:6000
  message: 127.0.0.1:6001
  middle: 127.0.0.1:6002
  workflow: 127.0.0.1:6003
  user: 127.0.0.1:6004
  subscribe: 127.0.0.1:6005
  todo: 127.0.0.1:6006
  finance: 127.0.0.1:6007
  nlp: 127.0.0.1:6008
  storage: 127.0.0.1:609
  task: 127.0.0.1:6010
web:
  url: http://127.0.0.1:7000
gateway:
  url: http://127.0.0.1:5000

storage:
  adapter: dropbox
