app:
    name: gateway
http:
    mode: release
    host: 127.0.0.1
    port: 7000
rpc:
    etcd: http://localhost:2379
slack:
    token:
    verification:
    signing:
redis:
    addr: localhost:6379
    password:
