app:
    name: gateway
http:
    mode: release
    host: 127.0.0.1
    port: 7000
rpc:
    etcd: http://etcd:2379
slack:
    token:
    verification:
    signing:
redis:
    addr: redis:6379
    password:
jaeger:
  serviceName: gateway
  reporter:
    localAgentHostPort: "jaeger-agent:6831"
  sampler:
    type: const
    param: 1