app:
    name: message
rpc:
    etcd: http://etcd:2379
db:
    url: root:123456@tcp(db:3306)/assistant?charset=utf8mb4&parseTime=True&loc=Local
    debug: true
slack:
    webhook:
jaeger:
  serviceName: message
  reporter:
    localAgentHostPort: "jaeger-agent:6831"
  sampler:
    type: const
    param: 1