app:
    name: message
etcd:
    url: http://127.0.0.1:2379
influx:
    token:
    org:
    bucket:
    url:
db:
    path: message.db
slack:
    webhook:
jaeger:
  serviceName: message
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1