app:
    name: middle
etcd:
    url: http://127.0.0.1:2379
    username:
    password:
influx:
    token:
    org:
    bucket:
    url:
db:
    url: root:123456@tcp(127.0.0.1:3306)/assistant?charset=utf8mb4&parseTime=True&loc=Local
redis:
    addr: 127.0.0.1:6379
    password:
web:
    url: http://127.0.0.1:7007
jaeger:
  serviceName: middle
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1