app:
    name: middle
rpc:
    etcd: http://127.0.0.1:2379
db:
    path: middle.db
redis:
    addr: 127.0.0.1:6379
    password:
web:
    url: http://127.0.0.1:7007
jaeger:
  serviceName: middle
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1