app:
    name: spider
rpc:
    etcd: http://etcd:2379
redis:
    addr: redis:6379
    password:
jaeger:
  serviceName: subscribe
  reporter:
    localAgentHostPort: "jaeger-agent:6831"
  sampler:
    type: const
    param: 1