name: example
when: "* * * * *"
mode: instant # instant, daily
page:
  url: "https://news.ycombinator.com/news"
  list: "tr.athing"
  item:
    title: $(".title a.storylink").text
    url: $(".title a.storylink").href
