app:
    name: subscribe
etcd:
    url: http://127.0.0.1:2379
influx:
    token:
    org:
    bucket:
    url:
redis:
    addr: 127.0.0.1:6379
    password:
jaeger:
  serviceName: subscribe
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1