http:
    mode: release
    host: 127.0.0.1
    port: 7000
redis:
    addr: 127.0.0.1:6379
    password:
web:
    url: http://127.0.0.1:7007
gateway:
    url: http://127.0.0.1:5000
rollbar:
    token:
    environment: # production development