app:
    name: web
http:
    mode: release
    host: 127.0.0.1
    port: 7000
rpc:
    etcd: http://localhost:2379
jaeger:
  serviceName: web
  reporter:
    localAgentHostPort: "jaeger-agent:6831"
  sampler:
    type: const
    param: 1