app:
    name: web
http:
    mode: release
    host: 127.0.0.1
    port: 7000
etcd:
    url: http://127.0.0.1:2379
    username:
    password:
redis:
    addr: 127.0.0.1:6379
    password:
web:
    url: http://127.0.0.1:7007
jaeger:
  serviceName: web
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1
rollbar:
    token:
    environment: # production development