etcd:
    url: http://127.0.0.1:2379
    username:
    password:
influx:
    token:
    org:
    bucket:
    url:
redis:
    addr: 127.0.0.1:6379
    password:
jaeger:
  serviceName: message
  reporter:
    localAgentHostPort: "127.0.0.1:6831"
  sampler:
    type: const
    param: 1
rollbar:
    token:
    environment: # production development
rabbitmq:
    url: amqp://root:123456@localhost:5672/
