name: Docker

on:
  push:
    tags:
      - v*
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get Github tag
        id: meta
        run: |
          echo "::set-output name=tag::$(git describe --always --tags --match='v*')"

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Install Task
        uses: arduino/setup-task@v1

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          install-only: true

      - name: Build
        run: task build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.IMAGE_USER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push id
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/id/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/id:${{ steps.meta.outputs.tag }}

      - name: Build and push chatbot
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/chatbot/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/chatbot:${{ steps.meta.outputs.tag }}

      - name: Build and push cron
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/cron/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/cron:${{ steps.meta.outputs.tag }}

      - name: Build and push gateway
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/gateway/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/gateway:${{ steps.meta.outputs.tag }}

      - name: Build and push message
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/message/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/message:${{ steps.meta.outputs.tag }}

      - name: Build and push middle
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/middle/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/middle:${{ steps.meta.outputs.tag }}

      - name: Build and push spider
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/spider/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/spider:${{ steps.meta.outputs.tag }}

      - name: Build and push storage
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/storage/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/storage:${{ steps.meta.outputs.tag }}

      - name: Build and push task
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/task/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/task:${{ steps.meta.outputs.tag }}

      - name: Build and push workflow
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/workflow/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/workflow:${{ steps.meta.outputs.tag }}

      - name: Build and push user
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/user/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/user:${{ steps.meta.outputs.tag }}

      - name: Build and push nlp
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: build/nlp/Dockerfile
          tags: |
            ghcr.io/${{ secrets.IMAGE_USER }}/nlp:${{ steps.meta.outputs.tag }}
